<div class="container">
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="zoneName">Zone Name</label>
        <input
          type="text"
          id="zoneName"
          name="zoneName"
          [(ngModel)]="zoneName"
        />
      </div>
      <button type="Submit" class="btn submit-btn">Submit</button>
    </form>
  </div>
  <div class="zones-container">
    <ul *ngIf="currentZones.length > 0; else noZones">
      <li *ngFor="let zone of currentZones">
        <p>{{ zone.zoneName }}</p>
        <button (click)="onDelete(zone.id)" class="btn danger-btn">
          Delete
        </button>
        <button (click)="setZoneToUpdate(zone)" class="btn edit-btn">
          Edit
        </button>
      </li>
    </ul>
  </div>

  <ng-template #noZones>
    <div>
      <h2>There aren't any zones yet...</h2>
    </div>
  </ng-template>

  <div class="form-container">
    <form (ngSubmit)="onUpdateSubmit()">
      <div class="input-group">
        <label for="updateZoneName">Update Zone</label>
        <input
          type="text"
          id="updateZoneName"
          name="updateZoneName"
          [(ngModel)]="updateZone.zoneName"
        />
      </div>
      <button type="Submit" class="btn submit-btn">Update</button>
    </form>
  </div>
</div>
